@model dynamic
@{
    ViewData["Title"] = "MyWork";
    var userID = ViewData["userID"];
    var products = ViewData["Products"] as List<KhumaloCraft.Models.productTBL>;
}
<section class="page-section">

<div class="text-center" style="padding-top:40px ; padding-bottom:40px;">
    <h1>My Work</h1>
</div>


<body>
    <p>Fill the form bellow to enter new products</p>
    <div class="form-container">
            <form action="MyWork" method="post">
                <div class="input-field">  
                    <input type="text" name="ProductName" required />
                    <label>Name</label>

                </div>


                <div class="input-field">
                    <input type="text" name="ProductPrice"  required />
                    <label>Price</label>
                </div>

                
                <div class="input-field">     
                    <input type="text" name="ProductCategory" required />
                    <label>Category</label>
                </div>

                
                <div class="input-field">
                    <input type="text" name="ProductAvailability"  required />
                    <label>Availability</label>
                </div>
                <div class="buttom-field">
                    <button type="submit">Submit</button>
                </div>

                
            </form>

    </div>

        @if (userID != null)
        {
            <p>User ID: @userID</p>
            <p>Go to <a href="/Home/Privacy">logout</a>  </p>
        }


        <h1 class="order-header">All Products</h1>
        @if (@Convert.ToInt32(userID) > 0)
        {
            <table class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Price</th>
                        <th>Category</th>
                        <th>Availability</th>
                        <th>Place Order</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var product in products)
                    {
                        <tr>
                            <td>@product.productName</td>
                            <td>R@($"{product.productPrice:F2}")</td>
                            <td>@product.productCategory</td>
                            <td>@product.productAvailability</td>
                            <td>
                                <form asp-controller="Transaction" asp-action="PlaceOrder" method="post">
                                    <input type="hidden" name="userID" value="@userID" />
                                    <input type="hidden" name="productID" value="@product.productID" />
                                    <button type="submit">Place Order</button>
                                </form>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

        }
        else
        {
            <p>Please <a href="/Home/Privacy">login</a> to order and to see the products</p>
        }

</body>

</section>